{% extends "layout.html" %}
{% block content %}
	{% for row in joined_m_n %}
        <article class="media content-section">
          <div class="media-body">
            <div class="article-metadata">
              <a class="mr-2" href=" ">Case  :{{ row.case_id }}</a> <br/>
              <small>Hospital Name: {{row.hospital_name}}</small>
			  </br>
			  <small>Physician's Last Name: {{ row.physician_last_name }}</small>
			  <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{{ url_for('update_case', case_id=row.case_id) }}">Update</a>
			  <button type="button" class="btn btn-danger btn-sm m-1" data-toggle="modal" data-target="#deleteModal">Delete</button>
            </div>
           
          </div>
        </article>
     {% endfor %}
	
    {% for row in joined_1_n %}
        <article class="media content-section">
          <div class="media-body">
            <div class="article-metadata">
              <a class="mr-2" href=" ">Case  :{{ row.case_id }}</a> <br/>
              <small class="text-muted">"Assigned Physician ID: " {{ row.physician_id }}</small>
			  </br>
			  <small>Physician Last name: {{ row.physician_last_name }}</small>
			  <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{{ url_for('update_case', case_id=row.case_id) }}">Update</a>
			  <button type="button" class="btn btn-danger btn-sm m-1" data-toggle="modal" data-target="#deleteModal">Delete</button>
            </div>
           
          </div>
        </article>
     {% endfor %}
	  
{% endblock content %}