{% extends "layout.html" %}
{% block content %}
    {% for row in outString %}
        <article class="media content-section">
          <div class="media-body">
            <div class="article-metadata">
              <a class="mr-2" href="#">{{ row }}</a>		  
              <small class="text-muted">{{ row['patient_id'] }}  {{ row['age'] }}  {{ row['diagnosis'] }}</small>		  
            </div>
			<h2><a class="article-title" href="{{ url_for('patient', patient_id=row.patient_id) }}">{{ row.patient_id }}</a></h2>
           
          </div>
        </article>
     {% endfor %}
{% endblock content %}