{% extends "layout.html" %}
{% block content %}
    {% for row in outString %}
        <article class="media content-section">
          <div class="media-body">
            <div class="article-metadata">
              <a class="mr-2" href="#"> Case :{{ row['case_id']}}</a>   
              <small class="text-muted">Procdure: {{ row['procedure_id_FK'] }}</small>   
			  <small>Duration of stay: {{ row.stay_duration }}</small>
            </div>
<h2><a class="article-title" href="{{ url_for('referal', case_id=row.case_id) }}"></a></h2>
           
          </div>
        </article>
     {% endfor %}
{% endblock content %}
